*{
    margin: 0; 
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* Criação de variáveis*/
html{
/* Criação de variáveis cor*/
    --orange: #FFA86B;
    --gray: #DDDDDD;
}
body{
   /* display: flex; */
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}