.curso{
    width: 1000px;
    margin: 0 auto;
    border-radius: 15px;
    border-color: black;
    border: 2px solid;
    padding-left: 50px;
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 180px;
    /* text-align: center; */
}
.curso select{
    margin-top: 20px;
}
h1{
    margin-top: 5px;
    text-align: center;
}
.input{
    height: 8px;
    margin-top: 12px;
    margin-bottom: -10px;
}
.cadastrar{
    margin: 0 auto;
    width: 250px;
}
.enviar{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-size: 28px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: var(--strong_red);
    color: white;
}